*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}
button{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    border-radius: 4px;
    padding: 1em;
    border: 1em;
    margin-top: 1em;
}

.contenedor {
    display: flex;
    width: 36em;
    height: 30em;
  
}
.color-box {
    width: 0em;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
    display: grid;
    justify-content: center;
    align-items: center;
}
.color-box:hover{ 
    cursor: crosshair;
    width: 10em;
    opacity: 1;
    filter: contrast(120%);
}


